
{% include 'includesHome/header.twig' %}

<div class="sb-site">
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="row">
                    
                    <div class="col-md-12">
                       
                        <div class="panel-layout">
                            <div class="panel-box">
                
                                <div class="panel-content image-box">
                                    <div class="ribbon">
                                        <div class="bg-primary">Ribbon</div>
                                    </div>
                                    <div class="image-content font-white">
                
                                        <div class="meta-box meta-box-bottom">
                                            <img src="{{ pathSite }}design/1/assets/image-resources/gravatar.jpg" alt="" class="meta-image img-bordered img-circle">
                                            <h3 class="meta-heading">Tu Pizza S.A</h3>
                                            <h4 class="meta-subheading">Servicios</h4>
                                        </div>
                
                                    </div>
                                    <img src="{{ pathSite }}design/1/assets/image-resources/blurred-bg/blurred-bg-13.jpg" alt="">
                
                                </div>
                                <div class="panel-content pad25A bg-white text-left">
                                   
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="invoice-client mrg5T">Company information:</h4>
                                            <h5>¿Has probado una PizzaDeVerdad? 😍 Amamos lo que hacemos, hacemos pizza de verdad 😋 Sucursal Yaritagua
                                            </h5>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label" style="font-size: 30px;">
                                                    <i class="glyph-icon icon-lock"></i>
                                                </label>
                                                <div class="col-sm-6">
                                                    Mexico City
                                                </div>
                                            </div>
                                        </div>
                                        
                                   
                                    </div>
                               
                                </div>

                                <div class="panel-content pad25A bg-white text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-group list-group-separator row list-group-icons">
                                                {% set cc=0%}
                                                {% for keyx, value in categorias %}
                                                {% set active=''%}
                                                {% if cc == 0 %}
                                                {% set active='active'%}
                                                {% set cc=1%}
                                                {% endif %}


                                                <li class="col-md-1 - {{active}}">
                                                    <a href="#tab{{value.id}}" data-toggle="tab" class="list-group-item">
                                                        <i class="glyph-icon font-red icon-bullhorn"></i>
                                                        {{value.categoria}}
                                                    </a>
                                                </li>

                                                {% endfor %}
                                                
                                            </ul>
                                            <div class="tab-content">
                                                {% set cc=0%}
                                                {% for keyx, value in categorias %}
                                                {% set active=''%}
                                                {% if cc == 0 %}
                                                {% set active=' active'%}
                                                {% set cc=1%}
                                                {% endif %}
                                                <div class="tab-pane fade - {{active}} - in" id="tab{{value.id}}">
                                                   
                                                    {% for key1, value1 in productos %} 
                                                    {% if value.id == value1.categoria_id %}
                                                            <div class="col-md-2 mrg20T">

                                                           
                                                                    <div class="panel-box bg-white mrg20A" style="height: 350px !important;">
                                            
                                                                        <div class="panel-content ">
                                            
                                                                           
                                            
                                                                            <div class="center-vertical">
                                                                                <img src="{{ pathSite }}design/1/assets/image-resources/stock-images/img-25.jpg" alt="" width="180" style="    border-radius: 10px;">
                                                                            
                                                                            </div>
                                        
                                                                            
                                            
                                                                        </div>
                                                                        <div class="panel-content ">
                                                                            <h4 style="font-weight: 600;">{{value1.producto}}</h4>
                                                                         
                                                                            <p style="overflow: hidden;
                                                                            display: -webkit-box;
                                                                            -webkit-line-clamp: 2;
                                                                            -webkit-box-orient: vertical;">{{value1.descripcion}}</p>
                                                                            <p>${{value1.precio_venta}}</p>
                                                                            <button class="btn btn-danger">Agregar</button>
                                                                        </div>
                            
                                                                    </div>
                                                              

                                                            </div>
                                                    {% endif %} 
                                                    {% endfor %}     
                                                </div>

                                                {% endfor %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>   
            
                            </div>
                        </div>
                      
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includesHome/footer.twig' %}
