<!DOCTYPE html>
<html lang="en">
<head>
	<title>Stencil | Freelance Designer</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- CSS styles -->
	<link rel="stylesheet" href="{{ pathSite }}design/{{ design }}/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{ pathSite }}design/{{ design }}/assets/elements/ribbon.css">

	<link rel="stylesheet" type="text/css" href="{{ pathSite }}design/{{ design }}assets/themes/components/default.css">
	<!-- /CSS styles -->
</head>