{% include 'includesHome/header.html' %}
<body class="home">
	<!-- Loader -->
		<div class="se-pre-con"></div>
		<!-- /Loader -->
	<!-- Canvas -->
	<div class="canvas">
		<!-- Header -->
		<div class="header animate-top">
			<!-- Logo -->
			<div class="logo">                  
				<a href="freelance-designer.html" title="Stencil">
					<img class="visible-desktop" src="{{ pathSite }}design/{{ design }}/assets/images/logo.svg" alt="logo" title="Stencil">
					<img class="visible-mobile" src="{{ pathSite }}design/{{ design }}/assets/images/logo-mobile.svg" alt="logo" title="Stencil">
				</a>
			</div>
			<!-- /Logo -->
			<!-- Nav Section -->
			<div class="nav-section">
				<nav>
					<!-- Navbar Header -->
					<div class="navbar-header">
						<button id="nav-toggle" class="navbar-toggle collapsed" type="button">
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- /Navbar Header -->
					<!-- Side Navbar  -->
					<div id="bs-navbar">
						<!-- Menu Logo -->
						<div class="menu-logo">
							<img src="{{ pathSite }}design/{{ design }}/assets/images/logo.svg" alt="logo" title="Stencil">
						</div>
						<!-- /Menu Logo -->
						<!-- Main Menu -->
						<ul id="menu-main-menu" class="nav navbar-nav">
							<li class="active"><a class="dropdown active" data-toggle="#home" title="Home">Home</a>
								<ul class="sub-menu" id="home">
									<li class="active"><a href="freelance-designer.html" title="Freelance Designer">Freelance Designer</a></li>
									<li><a href="creative-agency.html" title="Creative Agency">Creative Agency</a></li>
									<li><a href="shop-design.html" title="Shop Design">Shop - Design</a></li>
									<li><a href="blog-travel.html" title="Blog Travel">Blog - Travel</a></li>
								</ul>
							</li>
							<li><a class="dropdown" data-toggle="#pages" title="Pages">Pages</a>
								<ul class="sub-menu" id="pages">
									<li><a href="contact-us.html" title="Contact Us">Contact Us</a></li>
									<li><a href="about-us.html" title="About Us">About Us</a></li>
									<li><a href="team.html" title="Team">Team</a></li>
									<li><a href="team-member.html" title="Team Detail">Team Detail</a></li>
									<li><a href="services.html" title="Services">Services</a></li>
									<li><a href="service-detail.html" title="Services Detail">Service Detail</a></li>
									<li><a href="pricing.html" title="Pricing">Pricing</a></li>
									<li><a href="404.html" title="404">404</a></li>
								</ul>
							</li>
							<li><a class="dropdown" data-toggle="#portfolio" title="Portfolio">Portfolio</a>
								<ul class="sub-menu" id="portfolio">
									<li><a href="portfolio-1.html" title="Portfolio 1">Portfolio 1</a></li>
									<li><a href="case-study-1.html" title="Case Study 1">Case Study 1</a></li>
									<li><a href="portfolio-2.html" title="Portfolio 2">Portfolio 2</a></li>
									<li><a href="case-study-2.html" title="Case Study 2">Case Study 2</a></li>
									<li><a href="portfolio-3.html" title="Portfolio 3">Portfolio 3</a></li>
									<li><a href="case-study-3.html" title="Case Study 3">Case Study 3</a></li>
								</ul>
							</li>
							<li><a class="dropdown" data-toggle="#blog" title="Blog">Blog</a>
							<ul class="sub-menu" id="blog">
									<li><a href="blog-listing-1.html" title="Blog List 1">Blog List 1</a></li>
									<li><a href="blog-listing-1-detail.html" title="Blog Detail 1">Blog Detail 1</a></li>
									<li><a href="blog-listing-2.html" title="Blog List 2">Blog List 2</a></li>
									<li><a href="blog-listing-2-detail.html" title="Blog Detail 2">Blog Detail 2</a></li>
									<li><a href="blog-listing-3.html" title="Blog List 3">Blog List 3</a></li>
									<li><a href="blog-listing-3-detail.html" title="Blog Detail 3">Blog Detail 3</a></li>
									<li><a href="blog-author.html" title="Blog Author">Blog Author</a></li>
								</ul>
							</li>
							<li><a class="dropdown" data-toggle="#shop" title="Shop">Shop</a>
								<ul class="sub-menu" id="shop">
									<li><a href="shop-1.html" title="Shop 1">Shop 1</a></li>
									<li><a href="shop-detail-1.html" title="Shop Detail 1">Shop Detail 1</a></li>
									<li><a href="cart-1.html" title="Cart 1">Shop Cart 1</a></li>
									<li><a href="shop-2.html" title="Shop 2">Shop 2</a></li>
									<li><a href="shop-detail-2.html" title="Shop Detail 2">Shop Detail 2</a></li>
									<li><a href="cart-2.html" title="Cart 2">Shop Cart 2</a></li>
									<li><a href="shop-3.html" title="Shop 3">Shop 3</a></li>
									<li><a href="shop-detail-3.html" title="Shop Detail 3">Shop Detail 3</a></li>
									<li><a href="cart-3.html" title="Cart 3">Shop Cart 3</a></li>
								</ul></li>
						</ul>
						<!-- /Main Menu -->
						<!-- Social Nav -->
						<ul class="social-nav">
							<li class="call"><a href="#" title=""><span><i class="fas fa-phone"></i></span></a></li>
							<li class="fb"><a href="#" title=""><span><i class="fab fa-facebook-f"></i></span></a></li>
							<li class="mail"><a href="#" title=""><span><i class="fas fa-envelope"></i></span></a></li>
						</ul> 
						<!-- /Social Nav -->
					</div>
					<!-- /Side Navbar -->
				</nav>
			</div>
			<!-- /Nav Section -->
		</div>
		<!-- /Header -->

		<!-- Banner -->
		<div class="banner window-height panel-bg">
			<!-- Vertical Top Container -->
			<div class="container vertical-top">
				<!-- Title Container -->
				<div class="text-center title-container">
					<h6 class="badge badge-secondary" data-aos="fade-down" data-aos-once="true">11 Years of Experience</h6>
					<h1 class="text-center" data-aos="fade-down" data-aos-once="true"><small>Jack Sparrow</small>Freelance Designer</h1>
				<div data-aos="fade-down" data-aos-once="true" class="w-100"><a href="#" class="btn btn-border" id="hereingresult" data-toggle="modal" data-target="#contactForm">HIRE ME <span class="icon"></span></a></div>
				</div> 
				<!-- /Title Conatiner -->
				<!-- Slick Slider -->
				<section class="lazy slider" data-sizes="50vw" data-aos="fade-up" data-aos-once="true">
					
					{% for keyx, value in categorias %}
					<div>
						<a href="case-study-1.html" title="">
						<img src="{{ getIMG('categoria',value.id) }}" data-lazy="{{ getIMG('categoria',value.id) }}" alt="">
						<div class="panel-bg parallax [ c-example__tilt ] js-tilt" data-tilt-axis="x" data-tilt-glare="true" data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="400" data-tilt-max="10">
							<div class="parallax-inner c-example__tilt-inner " style="background-image: url({{ getIMG('categoria',value.id) }});">
							</div>
						</div>
					</a>
					</div>
					{% endfor %}
				</section>
				<!-- /Slick Slider -->
			</div>
			<!-- /Vertical Top Container -->
		</div>
		<!-- /Banner -->
	</div>
	<!-- /Canvas -->
	
	<!-- Modal Code Starts Here -->

<!-- Modal Contact Form -->
          <div class="modal" id="contactForm" tabindex="-1" role="dialog" aria-hidden="false">
            <!-- Contact Form -->
            <div class="modal-dialog contact-form-modal">
              <!-- Modal Content -->
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <!-- /Modal Header -->
                <!-- Modal Body -->
                <div class="modal-body">          
                  <h2>Connect with us.</h2>
                  <h1>Let us know your opinion!</h1>
                  <p>We are always there to solve your query.<br>  Kindly fill the form and we will contact you shortly.</p>
                  <!-- Form Wrapper -->
                  <div class="form-wrapper">
                  <form name="contactForm">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-field">
                          <input type="text" name="name" class="c-field" placeholder="Your Name*" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-field">
                          <input type="text" name="name" class="c-field" placeholder="Email Address*" required>
                        </div>
                      </div>
                      <div class="col-md-12 mt-5">
                         <div class="contact-field">
                          <input type="text" name="message" class="c-field" placeholder="Write Your Message Here*" required>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="btn btn-border animate-bottom delay-02 new-btn" data-toggle="modal" id="subts" data-target="#thank-you">Submit Now<span class="icon"></span></a>
                    <div class="sm-close-icon">
                    	<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true">
                    		<i class="fa fa-angle-left"></i>
                    	</button>
                    </div>
                  </form>
                </div>
                <!-- /Form Wrapper -->
                </div>
                <!-- /Modal Body -->
              </div>
              <!-- /Modal Content -->
            </div>
            <!-- /Contact Form -->

            <!--Thank You Modal-->
            <!-- <div class="modal" id="thank-you" tabindex="-1" role="dialog" aria-hidden="true"> -->
              <div class="modal-dialog contact-form-modal1">
                <!-- Modal Content -->
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <!-- /Modal Header -->
                  <!-- Modal Body -->
                  <div class="modal-body">
                   <h1>Thank You!</h1>
                   <p>Your submission has been received.</p>
                   <p>We look forward to seeing you in few days.</p>
                     <div class="sm-close-icon">
                    	<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true">
                    		<i class="fa fa-angle-left"></i>
                    	</button>
                    </div>
                 </div>
                 <!-- /Modal Body -->
               </div>
               <!-- /Modal Content -->
             </div>
           <!-- </div> -->
           <!-- /Thank You Modal -->
         </div>
          <!-- /Modal Contact Form -->
<!-- Modal Code Ends Here -->


{% include 'includesHome/footerJS.html' %}
</body>
</html>
