{% include 'includesHome/header.html' %}
<body class="home" style="background-color: {{empresa.color}};">
	<!-- Loader -->
		<div class="se-pre-con"></div>
		<!-- /Loader -->
	<!-- Canvas -->
	<div class="canvas">
		<!-- Header -->
		<div class="header animate-top">
			<!-- Logo -->
			<div class="logo">                  
				<a href="freelance-designer.html" title="Stencil">
					<img class="visible-desktop" src="{{ getIMG('empresa',empresa.id) }}" alt="logo" title="Stencil">
					<img class="visible-mobile"  src="{{ getIMG('empresa',empresa.id) }}" alt="logo" title="Stencil">
				</a>
			</div>
			<!-- /Logo -->
			<!-- Nav Section -->
			<div class="nav-section">
				
			</div>
			<!-- /Nav Section -->
		</div>
		<!-- /Header -->

		<!-- Banner -->
		<div class="banner window-height panel-bg">
		
			<!-- Vertical Top Container -->
			<div class="container vertical-top">
				<!-- Title Container -->
				<div class="text-center title-container">
					<!--

					<h6 class="badge badge-secondary" data-aos="fade-down" data-aos-once="true">11 Years of Experience</h6>
					-->
					<h1 class="text-center" data-aos="fade-down" data-aos-once="true"><!--<small>Jack Sparrow</small>-->{{empresa.empresa}}</h1>
				<div data-aos="fade-down" data-aos-once="true" class="w-100"><a href="{{pathSite}}store?c={{c}}" class="btn btn-border" id="" data-toggle="" data-target="#">Ver productos <span class="icon"></span></a></div>
				</div> 
				<!-- /Title Conatiner -->
				<!-- Slick Slider -->
				<section class="lazy slider" data-sizes="50vw" data-aos="fade-up" data-aos-once="true">
					
					{% for keyx, value in categorias %}
					<div>
						<a href="case-study-1.html" title="">
						<img src="{{ getIMG('categoria',value.id) }}" data-lazy="{{ getIMG('categoria',value.id) }}" alt="">
						<div class="panel-bg parallax [ c-example__tilt ] js-tilt" data-tilt-axis="x" data-tilt-glare="true" data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="400" data-tilt-max="10">
							<div class="parallax-inner c-example__tilt-inner " style="background-image: url({{ getIMG('categoria',value.id) }});">
							</div>
						</div>
					</a>
					</div>
					{% endfor %}
				</section>
				<!-- /Slick Slider -->
			</div>
			<!-- /Vertical Top Container -->
		</div>
		<!-- /Banner -->
	</div>
	<!-- /Canvas -->
	
	<!-- Modal Code Starts Here -->

<!-- Modal Contact Form -->
          <div class="modal" id="contactForm" tabindex="-1" role="dialog" aria-hidden="false">
            <!-- Contact Form -->
            <div class="modal-dialog contact-form-modal">
              <!-- Modal Content -->
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <!-- /Modal Header -->
                <!-- Modal Body -->
                <div class="modal-body">          
                  <h2>Connect with us.</h2>
                  <h1>Let us know your opinion!</h1>
                  <p>We are always there to solve your query.<br>  Kindly fill the form and we will contact you shortly.</p>
                  <!-- Form Wrapper -->
                  <div class="form-wrapper">
                  <form name="contactForm">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="contact-field">
                          <input type="text" name="name" class="c-field" placeholder="Your Name*" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="contact-field">
                          <input type="text" name="name" class="c-field" placeholder="Email Address*" required>
                        </div>
                      </div>
                      <div class="col-md-12 mt-5">
                         <div class="contact-field">
                          <input type="text" name="message" class="c-field" placeholder="Write Your Message Here*" required>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="btn btn-border animate-bottom delay-02 new-btn" data-toggle="modal" id="subts" data-target="#thank-you">Submit Now<span class="icon"></span></a>
                    <div class="sm-close-icon">
                    	<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true">
                    		<i class="fa fa-angle-left"></i>
                    	</button>
                    </div>
                  </form>
                </div>
                <!-- /Form Wrapper -->
                </div>
                <!-- /Modal Body -->
              </div>
              <!-- /Modal Content -->
            </div>
            <!-- /Contact Form -->

            <!--Thank You Modal-->
            <!-- <div class="modal" id="thank-you" tabindex="-1" role="dialog" aria-hidden="true"> -->
              <div class="modal-dialog contact-form-modal1">
                <!-- Modal Content -->
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <!-- /Modal Header -->
                  <!-- Modal Body -->
                  <div class="modal-body">
                   <h1>Thank You!</h1>
                   <p>Your submission has been received.</p>
                   <p>We look forward to seeing you in few days.</p>
                     <div class="sm-close-icon">
                    	<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true">
                    		<i class="fa fa-angle-left"></i>
                    	</button>
                    </div>
                 </div>
                 <!-- /Modal Body -->
               </div>
               <!-- /Modal Content -->
             </div>
           <!-- </div> -->
           <!-- /Thank You Modal -->
         </div>
          <!-- /Modal Contact Form -->
<!-- Modal Code Ends Here -->


{% include 'includesHome/footerJS.html' %}
</body>
</html>
